<div class="title">
    <h1>TuSegundazo.com</h1>
</div>
<hr class="hr-lines">

<div class="container-fluid">
    <div class="main-image-dive">
        <img src="../assets/TuSegundazo.png" alt="TuSegundazo" class="main-image">
    </div>
</div>

<hr class="hr-lines">
<app-car-list></app-car-list>

<footer class="text-center fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
            </div>
        </div>
    </div>

</footer>
